*{
    font-family: monospace;
}
div p{
    color:chocolate;
    height: 120px;
    padding: 60px;
    font-size: 20px;
    text-align: center;
}
.Heading{
    size: 80px;
    color: cornflowerblue;
    text-align: center;
    font-size: 50px;
}
.bgimg{
    background-image: url(https://th.bing.com/th/id/R.a043bc570949f5f039c3dec5dea65d39?rik=eha%2foL94W%2blT%2bA&riu=http%3a%2f%2feskipaper.com%2fimages%2fdark-14.jpg&ehk=QXooYWifCMe9PXn5o4a1HQgDEKPYVrp28Pxz7kHKS2c%3d&risl=&pid=ImgRaw&r=0);
    height: 300vh;
    background-attachment: fixed;
    background-position: center;
}
.box{
    border: 10px double powderblue;
    border-radius: 10px;
}