.Header{

    align-items: center;
    padding: 1rem;
    margin: 0%;
    width: fit-content;
    border-left: 0.5rem #0C134F solid;
    background-color: #D4ADFC;
    color: #5C469C;
    box-shadow: -5px 5px 5px;
    text-shadow: white -4px 4px 4px;
}
.center{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.ribbon{
    display: flex;
    justify-content: space-between;
    width:12rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

}
.column{
    display: flex;
    justify-content: space-between;
    width: 69%;
    margin-left: auto;
    margin-right: auto;
}
.ribbon:hover{
    cursor: pointer;
}