*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Top Nav Bar*/
#top-nav-bar{
    position: fixed;
    width: 99vw;
    color: white;
    background-color: #212121;
    height: 10vh;
    justify-content: space-between;
}
.menu-icon{
    width: 5vw;
    padding: 1rem;
}
.yt-name{
    color: white;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium';
    font-size: 1.7rem;
    margin: 0.4rem;;
}
input{
    outline: none;
    padding-left: 1rem;
    width: 25rem;
    height: 6vh;
    background-color: #0f0f0f;
    border:1px solid hsl(0,0%,18.82%);
    color: white;
}
input:focus{
    transition: all 0.5s;
    border:1px solid #065fd4
}
.search-icon{
    width: 4rem;
    height: 6vh;
    background-color: hsl(0,0%,18.82%);

}
.mic{
    margin: 1rem;
    background-color: #0f0f0f;
    height:6vh;
    width: 2.4rem;
    border-radius:100%;
}
.right i{
    margin: 1rem;
}